spring:
  datasource:
    url: jdbc:h2:tcp://h2-database:9092/data/receivingdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: admin
    password: 123456