spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: 123456

  h2:
    console:
      enabled: true
      path: /h2-console

    datasource:
      url: jdbc:h2:mem:receivingdb
      driver-class-name: org.h2.Driver
      username: sa
      password: ""

    jpa:
      hibernate:
        ddl-auto: create-drop
      properties:
        hibernate:
          dialect: org.hibernate.dialect.H2Dialect
      show-sql: true